/MyFrame$1.class
/MyFrame.class
/RectFrame.class
/Start.class
/RectTest.class
/OvalTest.class
/TextTest.class
/RectAndOval.class
/ManyFigures.class
/RectLoop.class
/practice1.class
/practice2.class
/practice3.class
/practice21.class
/practice11.class
/practice22.class
/DisplayRectsSlow.class
/Animation.class
